
body{
    background-color: #03010E;
}

.moreBox{

    margin-top: 5rem;
    height: auto;
    flex-basis: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}
.moreBox>div{
    /* height: auto; */
}


.leftBox{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    height: auto;
    /* background-color: brown; */
}
#nofComents{
    float: left;
    padding-right: .5rem;
}


.upMain{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    height: auto;
    margin-left: 5rem;
    /* background-color: cornflowerblue; */
}

.mainPhoto{
    flex-basis: 50%;
    /* background-color: darkslategrey; */
}
.mainContent{
    flex-basis: 50%;
    height: auto;
    /* background-color: tan; */
}

.belowMain{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    height: auto;
    margin-left: 5rem;
    /* background-color: rgb(100, 237, 191); */
}

.mainMomment{
    box-shadow: 0px 0px 20px rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    /* border: 1px solid #1b316b; */
    border-radius: .5rem;
    flex-basis: 50%;
    height: auto;
    /* background-color: paleturquoise; */
}

form{
   padding-left: 4rem;
}
form>div{
    margin-top: .5rem;
    justify-content: center;
}
.mainDispComment{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    height: auto;
    /* background-color: rgb(214, 21, 156); */
}
.mainDispComment>div{
    padding: 1rem;
    margin-top: .2rem;
    box-shadow: 0px 0px 10px white;
    background-color: #03010E
}

.minDisp{
    display: flex;
    flex-direction: column;
}
.userDiv{
    flex-basis: 20%;
}
.dispContent{
    flex-basis: 80%;
    height: auto;
}

.buttonDiv button{
    float: right;
    margin: auto;
    background-color: #03010E;
    border: 2px solid #01CC32;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
    color: white;
    width: 15%;
    cursor: pointer;
    margin-right: 15%;
}


input[type="text"], textarea{
    /* background-color: white; */
    /* color: black; */
    padding: 1rem;
    border: 1px solid green;
    border-radius: .1rem;
 }
 


.rightBox{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    padding-top: 0;
    /* background-color: rgb(86, 86, 124); */
    padding-left: 1rem;
    padding-right: 1rem;
}

.rightBox>div{
    box-shadow: 0px 0px 20px black;
    margin-top: 1rem;
    height: 10rem;
    /* background-color: rgb(238, 7, 46); */
}
.subRight{
  display: flex;
  height: 10rem;
}

.subRight.div{
    padding: .2rem;
    height: 10rem;

}

.subPhoto{
    flex-basis: 40%;
    height: 10rem;
    /* background-color: rgb(76, 0, 255); */
}
.subContent{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    padding-left: .5rem;
    height: 10rem;
    /* background-color: bisque; */
}

.upcont{
    flex-basis: 90%;
    /* background-color: #09ec6f; */
}
.upcont p{
    padding-top: .5rem;
}
.undercont{
    flex-basis: 10%;
    /* background-color: coral; */
}

/* section{
    display: none;
} */
#avoid{
    display: none;
}

.subContent button{
    float: right;
    margin: auto;
    margin-right: 40%;
    background-color: #03010E;
    border: 2px solid #01CC32;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
    color: white;
    width: 20%;
    cursor: pointer;
}

@media (max-width: 858px){
    
.moreBox{
    height: auto;
    flex-direction: column;
}
.upcont p{
    padding-top: 0rem;
}
form{
    padding-left: .1rem;
    padding-right: .1rem;
 }

 input[type="text"]{
    width: 100%;
 }
 textarea{
    width: 100%;
 }

 .buttonDiv button{
    float: right;
    color: white;
    width: 35%;
    cursor: pointer;
    margin-right: 0;
}
#avoid2{
    display: none;
}

.belowMain{
margin-left: 0rem;
}
.upMain{
    
    margin-left: 0rem;
    /* background-color: cornflowerblue; */
}
#avoid{
    display: block;
    float: right;
    margin: auto;
    margin-right: 40%;
    background-color: #03010E;
    border: 2px solid #01CC32;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
    color: white;
    width: 23%;
    cursor: pointer;
}
#avoid:hover{
    font-size: 15px;
}

}


