.allcont{
    /* background-color: aqua; */
    padding: 3rem
}
body{
    background-color: #03010E;
    
}
.more{
    display: flex;
    /* background-color: blue; */
    height: 100%;
    width: 80%;
    margin-left: 7rem;
    justify-content: space-between;
}

.more>div{
    display: flex;
    /* background-color: rgb(122, 122, 138); */
    height: 100%;
    width: 49%;
}
.left{
    display: flex;
    flex-direction: column;
    /* background-color: darkgrey; */
}
.right{
    display: flex;
    flex-direction: column;
    /* background-color: darkviolet; */
}
.left div{
    width: 100%;
    /* background-color: rgb(91, 190, 25); */
}
/* .pic{
   height: 20rem;
    background-color: crimson;
} */

.right>div{
    
}

/* .others{
    background-color: chartreuse;
    height: 12rem;
    width: 100%;

} */


/* .others1{
    background-color: rgb(5, 115, 122);
    height: 12rem;
    width: 100%;

} */

/* .others2{
    background-color: rgb(122, 5, 102);
    height: 12rem;
    width: 100%;

}
.others3{
    background-color: rgb(5, 115, 122);
    height: 12rem;
    width: 100%;
     
}


.others{
    width: 21rem;
    height: 15rem;
    margin-top: 1rem;
    
}
 */

