/* style.css */
body {
  background-color: #000;
  color: #fff;
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
}

.cli-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  max-height: 90vh;
  margin-top: 2rem;
  width: 80%;
  overflow-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
  background-color: #222;
  color: #fff;
  border-radius: 5px;
}
.error{
  color: red;
}
.command{
  color: #43f009;
}
.output-area {
  width: 90%;
  height: 100%;
  padding: 4px;
  overflow-y: auto;
  text-overflow: clip;
  overflow-wrap: break-word;
  text-align: justify;
  background-color: #222;
  color: #fff;
  font-family: 'Courier New', monospace; 
  font-size: 14px;
  white-space: pre;
  scroll-margin-bottom: 999999px;
  scroll-behavior: smooth;
  word-break: break-all;
  word-wrap: break-word; /* Allow long words to break and wrap to the next line */
}
.text{
  border: 2px solid skyblue; width: fit-content; padding: 4px; justify-self: center; display: flex; margin: auto;
}



@media only screen and (max-width: 600px) {
  .cli-container {
    width: 97%;
  }
  .output-area {
    width: 97%;
  }
  #typing-text {
    width: 97%;
    font-size: small;
  }
  .text{
    width: 97%;
    text-align: center;
    display: flex;
    text-wrap: wrap;
    word-wrap: break-word;
    font-size: small;
  }
}

.just{
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
  text-align: justify;
  width: 12vh; /* Consider adjusting this value */
  white-space: inherit;
  
}

a{
  color: skyblue;
}

/* Ensure the scroll container always scrolls to the bottom */

.skills{
  color: chocolate;
}
.cv {
  border: 1px dashed #23ef2d;
  padding: 3px;
  border-radius: 5px;
  margin-top: 5rem;
}

.cv{
  text-decoration: none;
}

.input-area {
  display: flex;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  color: #fff;
  width: 90%; 
}

input[type="text"] {
  color: #43f009;
  border: none;
  background-color: #222;
  outline: none;
  width: 100%;
  font-size: 14px;
  
}

input[type="text"]:focus {
  background-color: #222;
}

.just{
  width: "10wh";
  text-align: justify;
}